@import '../../../styles.scss';

.msg {
    margin-left: 50px;
    color: $accent;
    border: 1px solid $accent;
    border-radius: 10px;
    padding: 3px;
    background-color: $secondary;
    animation: fadein 1s;
    white-space: nowrap;
    overflow: hidden;
  }
  @keyframes fadein {
    from { max-width: 0px; }
    to   { max-width: 300px; }
  }